<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>airtable_api_key</key>
  <string>keyKEuK2O9jl0x3eo</string>
  <key>MGLMapboxAccessToken</key>
  <string>pk.eyJ1IjoianVsZXMyNjg5IiwiYSI6ImNpeDZ6ZXg4ODAwd28ydW12cHM2M2wzNTUifQ.3hbcOlwhw9e2y1ocV2BFuQ</string>
  <key>CrashlyticsApiToken</key>
  <string>6b2912e794f16f32b1420682505dee8c5fcec4ac</string></dict>
</plist>
